matplotlib==3.9.0
numpy==1.26.4
pandas==2.2.2
tensorflow==2.10.0
tensorflow-probability==0.15.0
git+https://github.com/gabryelreyes/SerialMuxProt.git#egg=SerialMuxProt&subdirectory=python/SerialMuxProt